/* common */
.all-space (@margin: 0px) {
	position: absolute;
	top: @margin;
	right: @margin;
	bottom: @margin;
	left: @margin;
}
.bg (@color) {
	background: @color;
}
.bg (@color, @img){
	background: @color @img;
}
.bg (pos, @left, @top) {
	background-position: @left @top;
}
.block {
	display: block;
}
.border-radius (@radius: 2px) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}
.border-radius (top, @radius: 2px) {
	.border-radius(top, left, @radius);
	.border-radius(top, right, @radius);
}
.border-radius (bottom, @radius: 2px) {
	.border-radius(bottom, left, @radius);
	.border-radius(bottom, right, @radius);
}
.border-radius (left, @radius: 2px) {
	.border-radius(top, left, @radius);
	.border-radius(bottom, left, @radius);
}
.border-radius (right, @radius: 2px) {
	.border-radius(top, right, @radius);
	.border-radius(bottom, right, @radius);
}
.border-radius (top, left, @radius: 2px) {
	-webkit-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
}
.border-radius (top, right, @radius: 2px) {
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}
.border-radius (bottom, left, @radius: 2px) {
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
}
.border-radius (bottom, right, @radius: 2px) {
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}
.box-shadow (@shadow: 0 1px 3px rgba(0,0,0,0.25)){
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}
.box-sizing (@sizing: border-box) {
	-moz-box-sizing: @sizing;
	-webkit-box-sizing: @sizing;
	box-sizing: @sizing;
}
.center (@width, @height) {
	top: 50%;
	left: 50%;
	margin: round(@height * -0.5) 0 0 round(@width * -0.5);
}
.center (ver, @height) {
	top: 50%;
	margin: round(@height * -0.5) 0 0 0;
}
.center (hor, @width) {
	left: 50%;
	margin: 0 0 0 round(@width * -0.5);
}
.center-block {
	.block;
	margin-left: auto;
	margin-right: auto;
}
.gradient (hor, @start, @end) {
	background: @start;
	background: -moz-linear-gradient(left, @start 0%, @end 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, @start), color-stop(100%, @end));
	background: -webkit-linear-gradient(left, @start 0%, @end 100%);
	background: -o-linear-gradient(left, @start 0%, @end 100%);
	background: -ms-linear-gradient(left, @start 0%, @end 100%);
	background: linear-gradient(to right, @start 0%, @end 100%);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient( startColorstr='%d', endColorstr='%d',GradientType=1)", @start, @end));
}
.gradient (ver, @start, @end) {
	background: @start;
	background: -moz-linear-gradient(top, @start 0%, @end 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start), color-stop(100%, @end));
	background: -webkit-linear-gradient(top, @start 0%, @end 100%);
	background: -o-linear-gradient(top, @start 0%, @end 100%);
	background: -ms-linear-gradient(top, @start 0%, @end 100%);
	background: linear-gradient(to bottom, @start 0%, @end 100%);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient( startColorstr='%d', endColorstr='%d',GradientType=0)", @start, @end));
}
.filter (@filter: grayscale(100%)) {
	-webkit-filter: @filter;
	-moz-filter: @filter;
	-ms-filter: @filter;
	-o-filter: @filter;
	filter: @filter;
}
.hide {
	display: none;
}
.invisible {
	visibility: hidden;
}
.opacity (@opacity: 0.5) {
	zoom: 1;
	-moz-opacity: @opacity;
	-webkit-opacity: @opacity;
	opacity: @opacity;
	@op: @opacity * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{op})";
	filter: ~"alpha(opacity=@{op})";
}
.pos (abs, @left: 0, @top: 0) {
	position: absolute;
	top: @top;
	left: @left;
}
.pos (fix, @left: 0, @top: 0) {
	position: fixed;
	top: @top;
	left: @left;
}
.pos (rel, @left: 0, @top: 0) {
	position: relative;
	top: @top;
	left: @left;
}
.reset-block {
	padding: 0;
	margin: 0;
	.box-sizing();
}
.rotate (@rotation) {
	-webkit-transform: rotate(@rotation);
	-moz-transform: rotate(@rotation);
	-o-transform: rotate(@rotation);
	transform: rotate(@rotation);
}
.show {
	display: block;
}
.size (@width, @height) {
	height: @height;
	width: @width;
}
.size (@size){
	height: @size;
	width: @size;
}
.sprite (@step, @x, @y) {
	.bg(pos, @y * @step, @x * @step);
}
.text-shadow (@shadow) {
	-webkit-text-shadow: @shadow;
	-moz-text-shadow: @shadow;
	text-shadow: @shadow;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}

/* reset */
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

/* typo */
.sans (@weight: normal, @size: 14px, @line: 20px) {
	font-family: Arial, Tahoma, sans-serif;
	font-size: @size;
	font-weight: @weight;
	line-height: @line;
}
.serif (@weight: normal, @size: 14px, @line: 20px) {
	font-family: Georgia, Times, serif;
	font-size: @size;
	font-weight: @weight;
	line-height: @line;
}
.mono (@weight: normal, @size: 14px, @line: 20px) {
	font-family: Monaco, "Courier New", monospace;
	font-size: @size;
	font-weight: @weight;
	line-height: @line;
}